APP_ENV=dev
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vendure
DB_USER=postgres
DB_PASSWORD=postgres
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin
COOKIE_SECRET=cookie-secret-12345678
